# Data Stories

In [2]:
import plotly.graph_objs as go
import pandas as pd

In [17]:
life_expectancy_df = pd.read_csv('datasets_71509_948751_life_expectancy.csv')
life_expectancy_df.head(5)

,Neighborhood,2006-2010,2007-2011,2008-2012,2009-2013,2010-2014,Gender
0,el Raval,87.5,84.9,84.7,84.9,85.3,Female
1,el Barri Gòtic,88.0,84.3,84.4,87.5,84.4,Female
2,la Barceloneta,88.2,85.3,84.4,86.3,84.7,Female
3,"Sant Pere, Santa Caterina i la Ribera",88.9,85.9,86.1,85.5,85.3,Female
4,el Fort Pienc,89.7,87.1,87.2,87.7,86.7,Female

In [12]:
accidents_df = pd.read_csv('accidents_2017.csv')
accidents_df = accidents_df[accidents_df["Neighborhood Name"] != "Unknown"]
accidents_df[accidents_df['Neighborhood Name'] == 'el Raval']

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
160,2017S004394,Ciutat Vella,el Raval,Josep Carner / Drassanes ...,Thursday,May,18,0,Night,3,0,3,2,2.176656,41.374429
161,2017S009532,Ciutat Vella,el Raval,Carme ...,Thursday,November,16,20,Afternoon,1,0,1,1,2.167196,41.380288
162,2017S005486,Ciutat Vella,el Raval,Nou de la Rambla ...,Friday,June,23,1,Night,1,0,1,1,2.170537,41.375415
163,2017S005824,Ciutat Vella,el Raval,Portal de la Pau ...,Tuesday,July,4,19,Afternoon,1,0,1,1,2.176835,41.375294
164,2017S003530,Ciutat Vella,el Raval,Portal de Santa Madrona ...,Thursday,April,20,16,Afternoon,0,0,0,2,2.173452,41.375058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9269,2017S007067,Ciutat Vella,el Raval,Àngels / Elisabets ...,Friday,August,18,16,Afternoon,1,0,1,2,2.167840,41.382908
9270,2017S004744,Ciutat Vella,el Raval,Sant Antoni ...,Tuesday,May,30,8,Morning,1,0,1,2,2.164136,41.384951
9271,2017S009222,Ciutat Vella,el Raval,Rambla ...,Wednesday,November,8,9,Morning,1,0,1,1,2.172542,41.382267
9272,2017S000752,Ciutat Vella,el Raval,CARME / Egipcíaques ...,Saturday,January,28,12,Morning,1,0,1,2,2.168572,41.381325
9273,2017S002052,Ciutat Vella,el Raval,LLUNA ...,Tuesday,March,14,12,Morning,0,0,0,1,2.166382,41.380870

In [16]:
unemployment_df = pd.read_csv('unemployment.csv')
unemployment_df.head(5)

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630

## Hallo